/ClienteSocket1/build/
/ClienteSocket1/dist/
/ClienteSocket1/nbproject/private/
/dist/
/ClienteTelespectador/ClienteTelespectador/nbproject/private/
/ClienteTelespectador/ClienteTelespectador/build/
/ClienteTelespectador/ClienteTelespectador/dist/